/* -- this is for webpage restae page desigm --
* {
  margin: 0 auto;
  padding: 0;
  outline: 0;
  font-family: "DM Sans", sans-serif;
  max-width: 480px;
}

ul {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #05386b;
  transition: 0.4s;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
}

button {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #05386b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  position: relative;
  font-family: "DM Sans", sans-serif;
}

p {
  margin: 0;
  padding: 0;
  color: #323232;
  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0px 20px;
} */

/*------------------------
main code start here 
-------------------------*/
.text-center {
  text-align: center;
}

.btn_main {
  border: none;
  outline: none;
  background-color: #2c40ce;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 14px 30px;
  font-weight: 700;
  font-size: 13px;
  border-radius: 4px;
  /* width: 8rem !important; */
}

.btn_main:focus {
  color: #fff !important;
}

.btn_main svg {
  fill: #fff;
  margin-left: 5px;
}

.input_box {
  box-sizing: border-box;
  margin-bottom: 15px;
  width: 100%;
}
 * {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
 }

 

 
 :root{
   scrollbar-width: none;
 }
 *::-webkit-scrollbar-thumb {
   -ms-overflow-style: none;
   /* IE and Edge */
   scrollbar-width: none;
   /* Firefox */
 }

@media only screen and (max-width:490px) {
  .myClassname {
    margin: 4vh 0;
  }
  .tns-controls {
    display: none;
  }
}
.tns-controls{
  position: absolute;
  top: 0;
  right: 20vw;
  display: inline;
}

.tns-controls button[data-controls="prev"]{
  visibility: hidden;
}
.tns-controls button[data-controls="next"]{
  visibility: hidden;
}
.tns-controls button[data-controls="prev"]:after{
  content: "<";
  visibility: visible;
  font-weight: 900;
  font-size: 3vh;
  color: rgb(143, 143, 143);
}
.tns-controls button[data-controls="next"]:after{
  content: ">";
  visibility: visible;
  font-weight: 900;
  font-size: 3vh;
  color: rgb(143, 143, 143);
}
.footer{
  background-color: rgb(255, 255, 255);
   width: -moz-available !important;
   /* WebKit-based browsers will ignore this. */
   width: -webkit-fill-available !important;
   /* Mozilla-based browsers will ignore this. */
   width: fill-available !important;
}

.side-navigation-panel-select-option-text{
  color:white !important;
}
.side-navigation-panel-select-option:hover .side-navigation-panel-select-option-text{
  color:rgb(79, 0, 207) !important;
}
.side-navigation-panel-select-option:hover{
  background-color: #f8f9d25b !important;
  background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 54%) !important;
}
/*  on select of side navigation panel text color */
.side-navigation-panel-select-option-selected .side-navigation-panel-select-option-text{
  color:rgb(20, 15, 15) !important;
}
.header_main{
  background-color: #fad0c4;
  background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);

}
.main-body{
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 14%);
}
.seeker{
  width: 100% !important;
}